# Mission Atlantic - CS SOMAR
## Data treatment for ICCAT T2CE database
### author: Henrique Amato Peres - ha.peres@usp.br
#### 11 March 2022

Import necessary packages:

In [1]:
#! -*- coding: utf-8 -*-

import csv
import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt

Open .csv file containing ICCAT T2CE database sliced geographically to CS SOMAR area and surroundings, between 45째W and 10째E and between 30째S and 15째N. That decreases file size from 688 to 112 MB. Then load it as a pandas DataFrame:

In [2]:
with open('iccat_t2ce_SAt_allgr_3nov21.csv') as csvfile:
    f = list(csv.reader(csvfile))

headers = f[0]
df = pd.DataFrame(f[1:], columns=headers)
del(f)

Define data types for each column and slice to begin in 2012, similar to the temporal range of the Global Fishing Watch database:

In [3]:
species_list = ['BFT', 'ALB', 'YFT', 'BET', 'SKJ', 'SWO', 'BUM', 'SAI', 'SPF', 'WHM', 'BLF', 'BLT', 'BON', 
                'BOP', 'BRS', 'CER', 'FRI', 'KGM', 'LTA', 'MAW', 'SLT', 'SSM', 'WAH', 'DOL', 'BIL', 'BLM', 
                'MSP', 'MLS', 'RSP', 'SBF', 'oTun', 'BSH', 'POR', 'SMA', 'oSks']

for var in ['Eff1', 'Eff2', 'BFT', 'ALB', 'YFT', 'BET', 'SKJ', 'SWO', 'BUM', 'SAI', 'SPF', 'WHM', 'BLF', 
            'BLT', 'BON', 'BOP', 'BRS', 'CER', 'FRI', 'KGM', 'LTA', 'MAW', 'SLT', 'SSM', 'WAH', 'DOL', 
            'BIL', 'BLM', 'MSP', 'MLS', 'RSP', 'SBF', 'oTun', 'BSH', 'POR', 'SMA', 'oSks']:
    df[var] = pd.to_numeric(df[var], errors='coerce')

df = df.astype({'StrataID': 'int64', 'DSetID': 'int64', 'FleetID': 'string', 'GearGrpCode': 'string', 
                'GearCode': 'string', 'FileTypeCode': 'string', 'YearC': 'int64', 'TimePeriodID': 'int64', 
                'SquareTypeCode': 'string', 'QuadID': 'int64', 'Lat': 'float64', 'Lon': 'float64', 
                'SchoolTypeCode': 'string', 'Eff1': 'float64', 'Eff1Type': 'string', 'Eff2': 'float64', 
                'Eff2Type': 'string', 'DSetTypeID': 'string', 'CatchUnit': 'string', 'BFT': 'float64', 
                'ALB': 'float64', 'YFT': 'float64', 'BET': 'float64', 'SKJ': 'float64', 'SWO': 'float64', 
                'BUM': 'float64', 'SAI': 'float64', 'SPF': 'float64', 'WHM': 'float64', 'BLF': 'float64', 
                'BLT': 'float64', 'BON': 'float64', 'BOP': 'float64', 'BRS': 'float64', 'CER': 'float64', 
                'FRI': 'float64', 'KGM': 'float64', 'LTA': 'float64', 'MAW': 'float64', 'SLT': 'float64', 
                'SSM': 'float64', 'WAH': 'float64', 'DOL': 'float64', 'BIL': 'float64', 'BLM': 'float64', 
                'MSP': 'float64', 'MLS': 'float64', 'RSP': 'float64', 'SBF': 'float64', 'oTun': 'float64', 
                'BSH': 'float64', 'POR': 'float64', 'SMA': 'float64', 'oSks': 'float64'})

In [4]:
#df = df[df['YearC'] > 2011]

Legend for species code:
<br/><br/>

##### Tuna (major species)

BFT: Atlantic bluefin tuna, *Thunnys thynnus*

ALB: Albacore, *Thunnus alalunga*

YFT: Yellowfin tuna, *Thunnus albacares*

BET: Bigeye tuna, *Thunnus obesus*

SKJ: Skipjack tuna, *Katsuwonus pelamis*

SWO: Swordfish, *Xiphias gladius*

BUM: Blue marlin, *Makaira nigricans*

SAI: Atlantic sailfish, *Istiophorus albicans*

SPF: Longbill spearfish, *Tetrapturus pfluegeri*

WHM: White marlin, *Tetrapturus albidus*
<br/><br/>
##### Tuna (small tuna)

BLF: Blackfin tuna, *Thunnus atlanticus*

BLT: Bullet tuna, *Auxis rochei*

BON: Atlantic bonito, *Sarda sarda*

BOP: Plain bonito, *Orcynopsis unicolor*

BRS: Serra Spanish mackerel, *Scomberomorus brasiliensis*

CER: Cero, *Scomberomorus regalis*

FRI: Frigate tuna, *Auxis thazard*

KGM: King mackerel, *Scomberomorus cavalla*

LTA: Little tunny (= Atl. black skipj), *Euthynnus alletteratus*

MAW: West African Spanish mackerel, *Scomberomorus tritor*

SLT: Slender tuna, *Allothunnus fallai*

SSM: Atlantic Spanish mackerel, *Scomberomorus maculatus*

WAH: Wahoo, *Acanthocybium solandri*

DOL: Common dolphinfish, *Coryphaena hippurus*
<br/><br/>
##### Tuna (other species)

BIL: Marlins, sailfishes, etc., Istiophoridae

BLM: Black marlin, *Makaira indica*

MSP: Mediterranean spearfish, *Tetrapturus belone*

MLS: Striped marlin, *Tetrapturus audax*

RSP: Roundscale spearfish, *Tetrapturus georgii*

SBF: Southern bluefin tuna, *Thunnus maccoyii*

oTun: Other tuna species
<br/><br/>
##### Sharks (major species)

BSH: Blue shark, *Prionace glauca*

POR: Porbeagle, *Lamna nasus*

SMA: Shortfin mako, *Isurus oxyrinchus*

oSks: Other shark species

In [5]:
#for var in ['GearGrpCode', 'GearCode', 'SquareTypeCode', 'SchoolTypeCode', 'Eff1Type', 
#            'Eff2Type', 'CatchUnit']:
#    df[var].value_counts().plot.pie(autopct='%.1f%%')
#    plt.show()
#    plt.clf()

Legend for gear code:
<br/><br/>
PS: Purse seine

LL: Longline

BB: Baiboat

LLSWO: Longline, targetting SWO (used by Italy)

HAND: Handline

LL-surf: Longline, surface (used by Italy)

GILL: Gillnet, drift net

UNCL: Unclassified, gears not reported

TRAW: Trawl

LLJAP: Longline, japanese (Spain)

TROL: Trolling

SPOR: Sport, recreational fisheries (mostly rod and reel)

TRAWP: Trawl, mid-water pelagic trawl (= MWT)

HS: Haul seine

PSFS: Purne seine, catching small fish

SURF: Surface fisheries unclassified

### Exploring effort and gears in each dataset

In [6]:
#sank = df.groupby(['SquareTypeCode', 'GearCode', 'Eff1Type', 'Eff2Type']).size().reset_index(name='counts')

#sank2 = df.groupby(['GearGrpCode', 'Eff1Type', 'Eff2Type']).agg({'Eff1': ['count', 'min', 'max', 'median'], 
#                                                  'Eff2': ['min', 'max', 'median']})

#pd.set_option('display.max_rows', 140)
#print(sank)

In [7]:
n_total = df.shape[0]
print(n_total)

### Selection as descripted above
df_s = df[(df['SquareTypeCode']=='1x1') | (df['SquareTypeCode']=='5x5')]
del(df)
df_s = df_s[(df_s['GearGrpCode']=='LL') | (df_s['GearGrpCode']=='BB') | (df_s['GearGrpCode']=='PS')]
df_s = df_s[(df_s['Eff1Type']=='FISH.HOUR') | (df_s['Eff1Type']=='D.FISH') | (df_s['Eff1Type']=='NO.HOOKS') | (df_s['Eff2Type']=='FISH.HOUR')]

df_s = df_s[(df_s['TimePeriodID']!=15) & (df_s['TimePeriodID']!= 17)]

indexes = df_s[ (df_s['GearGrpCode']=='LL') & (df_s['Eff1Type']=='D.FISH') ].index
df_s.drop(indexes, inplace=True)   # drop LL records with only D.FISH

n_selected = df_s.shape[0]
print(n_selected)
print('ratio =', n_selected / n_total)

587035
570808
ratio = 0.97235769587844

In [8]:
sank3 = df_s.groupby(['SquareTypeCode', 'GearGrpCode', 'GearCode', 'Eff1Type', 'Eff2Type']).size().reset_index(name='counts')
print(sank3)

   SquareTypeCode GearGrpCode GearCode   Eff1Type   Eff2Type  counts
0             1x1          BB       BB     D.FISH              27518
1             1x1          BB       BB     D.FISH   D.AT SEA      26
2             1x1          BB       BB     D.FISH    NO.SETS      27
3             1x1          BB       BB  FISH.HOUR                 27
4             1x1          BB       BB  FISH.HOUR   D.AT SEA     128
5             1x1          BB       BB  FISH.HOUR  HOURS.SEA   50872
6             1x1          BB       BB    NO.SETS  FISH.HOUR    3226
7             1x1          BB      BBF     D.FISH                442
8             1x1          LL       LL   NO.HOOKS              10967
9             1x1          LL       LL   NO.HOOKS     D.FISH      20
10            1x1          LL  LL-surf   NO.HOOKS                355
11            1x1          LL     LLFB   NO.HOOKS               3601
12            1x1          LL    LLJAP   NO.HOOKS                 27
13            1x1          LL    LLSWO   NO.HOOKS                 38
14            1x1          PS       PS     D.FISH              24663
15            1x1          PS       PS     D.FISH    NO.SETS       1
16            1x1          PS       PS  FISH.HOUR               2032
17            1x1          PS       PS  FISH.HOUR  HOURS.SEA  317866
18            1x1          PS       PS    NO.SETS  FISH.HOUR   11580
19            1x1          PS      PSG     D.FISH              26472
20            1x1          PS      PSM     D.FISH              10947
21            5x5          BB       BB     D.FISH               5973
22            5x5          LL       LL   NO.HOOKS              56620
23            5x5          LL       LL   NO.HOOKS     D.FISH    1530
24            5x5          LL       LL   NO.HOOKS    NO.SETS      24
25            5x5          LL     LL-B   NO.HOOKS                 73
26            5x5          LL  LL-surf   NO.HOOKS                 70
27            5x5          LL     LLFB   NO.HOOKS               4708
28            5x5          LL    LLJAP   NO.HOOKS                 24
29            5x5          LL    LLSWO   NO.HOOKS               8501
30            5x5          LL    LLSWO   NO.HOOKS   NO.TRIPS     664
31            5x5          PS       PS     D.FISH               1786

We prioritize some types of data, excluding others, concerning:

(1) square type: use only squares < 5째, i.e. only 1x1 and 5x5 squares, excluding 5x10 and 10x10;

(2) fishing gear: use only bait-boat, longline and purse seine (BB, LL and PS), excluding minor gears like gillnets, trolling, trawling, sport fishing, handline and other unclassified gears;

(3) effort type: use only fishing-time-related effort types, like fishing days (D.FISH) and fishing hours (FISH.HOUR) for BB and PS gears; and only number of hooks (NO.HOOKS) for LL gears.

The number of datasets that meet these criteria is 103,375, from a total of 108,411, i.e. 95.35% of all datasets available are kept.

(*) Each dataset has a single SquareTypeCode, a single Gear Type and a single Effort Type.

### Gridding and plotting fishing effort

In [9]:
### Grid 1x1 to plot
Lon = np.arange(-46, 13, 1)
Lat = np.arange(-31, 17, 1)

In [10]:
year = df_s['YearC'].unique()
month = np.array([np.arange(1,7,1), np.arange(7,13,1)])

print(month)
print(year)
print(year.shape[0])

###### EFFORT
### shape = (year(64), semester(2), effort(2), lon(59), lat(47))
### effort(2) = [eff_hour, eff_hook]
#C_h = np.zeros((64, 2, 2, len(Lon), len(Lat)))

###### CATCH
### shape = (year(64), semester(2), catch(10), lon(59), lat(47))
### catch(10) = [Tmh, Tmk, Tsh, Tsk, Toh, Tok, Smh, Smk, Soh, Sok]
        ### 1st letter = T: tuna, S: shark
        ### 2nd letter = m: major, s:small, o:other
        ### 3rd letter = h: hour, k:hook
C_c = np.zeros((64, 2, 10, len(Lon), len(Lat)))

### method to recollect csv and reshape

#np.savetxt('aaa_testeeeee.csv', np.ravel(C_h), delimiter=',')
#print(C_h.shape)          (64, 12, 7, 59, 47)
#C_rav = np.ravel(C_h)
#print(C_rav.shape)        (14907648,)
#C_rebu = np.reshape(C_rav, (64, 12, 7, 59, 47))
#print(C_rebu.shape)       (64, 12, 7, 59, 47)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]
[1956 1957 1958 1959 1960 1961 1962 1963 1964 1965 1966 1967 1968 1969
 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982 1983
 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997
 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018 2019]
64

In [11]:
#df_s['TimePeriodID'].value_counts()

In [12]:
### Correction on problematic data, fleet ID 105GN01
### DSetID 5258, with ~1 million D.FISH
for i in [477347, 477348, 477349, 477350, 477351, 477353, 477354, 477355, 477356, 477357, 477358]:
    val = df_s.at[i, 'Eff1']
    df_s.at[i, 'Eff1'] = val / 100000

In [13]:
### Correction on problematic data, fleet ID 061SH00
### DSetIDs 1862, 1933, 2199, 2273, 2345, 2404, with +100 D.FISH per month
### in years 1989, 1990, 1994, 1995, 1996 and 1997
prob_lines = np.hstack((np.arange(124432,124439,1), np.arange(129023,129035,1), np.arange(175637,175657), 
                        np.arange(187652,187675,1), np.arange(206977,206997,1), np.arange(228304,228316)))
for i in prob_lines:
    val = df_s.at[i, 'Eff1']
    df_s.at[i, 'Eff1'] = val / 100
    
prob_lines = np.hstack((np.arange(151139,151172), np.arange(246949,246970), np.arange(283324,283347)))
for i in prob_lines:
    val = df_s.at[i, 'Eff1']
    df_s.at[i, 'Eff1'] = val / 100

In [14]:
#df_prob1 = df_s[df_s['YearC']==1992]
#dsets = df_prob1['DSetID'].unique()
#df_prob2 = df_prob1[df_prob1['DSetID'].isin(dsets[19:21])]
#pd.set_option('display.max_columns', 140)
#print(df_prob2.iloc[:, :21])

#del(df_prob1, df_prob2, dsets)

" df_prob1 = df_s[df_s['YearC']==1992]\ndsets = df_prob1['DSetID'].unique()\ndf_prob2 = df_prob1[df_prob1['DSetID'].isin(dsets[19:21])]\npd.set_option('display.max_columns', 140)\nprint(df_prob2.iloc[:, :21])\n\ndel(df_prob1, df_prob2, dsets) "

### Effort

In [15]:
C_h = np.zeros((64, 2, 2, len(Lon), len(Lat)))

for yi, y in enumerate(year):                  # Treat each year, then each dataset
    df_y = df_s[df_s['YearC']==y]
    dsets = df_y['DSetID'].unique()
    print('>>>>', y, len(dsets))
    for di, d in enumerate(dsets):
        df_d = df_y[df_y['DSetID']==d]  # until here, we are selecting a single dataset
        #print(di+1, df_d['GearCode'].unique()[0], df_d['SquareTypeCode'].unique()[0], 
        #      df_d['Eff1Type'].unique()[0], df_d['Eff2Type'].unique()[0])
        #print(df_d.shape)
        
        for mi, m in enumerate(month):
            df_m = df_d[df_d['TimePeriodID'].isin(m)]   # selecting semester
            df_h1 = df_m[(df_m['Eff1Type']=='FISH.HOUR')]  # Assign dataframes with one effort type each
            df_h2 = df_m[(df_m['Eff2Type']=='FISH.HOUR')]
            df_h3 = df_m[(df_m['Eff1Type']=='D.FISH')]
            df_k = df_m[(df_m['Eff1Type']=='NO.HOOKS')]

            #print(df_h1.shape, df_h2.shape, df_h3.shape, df_k.shape)
            sum_h1 = df_h1.groupby(['Lon', 'Lat'], as_index=False)['Eff1'].sum()  # Sum of all effort in Lat Lon
            sum_h2 = df_h2.groupby(['Lon', 'Lat'], as_index=False)['Eff2'].sum()
            sum_h3 = df_h3.groupby(['Lon', 'Lat'], as_index=False)['Eff1'].sum()
            sum_k = df_k.groupby(['Lon', 'Lat'], as_index=False)['Eff1'].sum()
            
            #if (df_d['SquareTypeCode'].unique()[0]=='1x1') & (df_d['Eff1Type'].unique()[0]=='D.FISH'):
                    #hum = sum_h3[(sum_h3['Lon']==-5.5)&(sum_h3['Lat']==-15.5)]
                    #hdo = sum_h1[(sum_h1['Lon']==-6.5)&(sum_h3['Lat']==-14.5)]
                    #htr = sum_h2[(sum_h2['Lon']==-6.5)&(sum_h3['Lat']==-14.5)]
                    #if not hum.empty:
                        #print(di+1, df_d['GearCode'].unique()[0], df_d['SquareTypeCode'].unique()[0], 
                        #        df_d['Eff1Type'].unique()[0], df_d['Eff2Type'].unique()[0])
                        #print(hum)
                    #print('<<<                        ',sum_h3[(sum_h3['Lon']==-6.5)&(sum_h3['Lat']==-14.5)])
                    #print('<<<                        ',sum_h1[(sum_h1['Lon']==-6.5)&(sum_h3['Lat']==-14.5)])
                    #print('<<<                        ',sum_h2[(sum_h2['Lon']==-6.5)&(sum_h3['Lat']==-14.5)])

            for ipoi, poi in sum_h1.iterrows():                   # Iterate over dataset
                lo, la, eff = poi['Lon'], poi['Lat'], poi['Eff1']
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['SquareTypeCode'].unique()[0] == '5x5':
                    C_h[yi, mi, 0, i-2:i+3, j-2:j+3] += eff / (area * 25)  # If data is
                else:                                # 5x5, distribute effort over 25 1x1 cells
                    C_h[yi, mi, 0, i, j] += eff / area
                    
                    
            for ipoi, poi in sum_h2.iterrows():                   # Iterate over dataset
                lo, la, eff = poi['Lon'], poi['Lat'], poi['Eff2']
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['SquareTypeCode'].unique()[0] == '5x5':
                    C_h[yi, mi, 0, i-2:i+3, j-2:j+3] += eff / (area * 25)  # If data is
                else:                                # 5x5, distribute effort over 25 1x1 cells
                    C_h[yi, mi, 0, i, j] += eff / area
                    
                    
            for ipoi, poi in sum_h3.iterrows():                   # Iterate over dataset
                lo, la, eff = poi['Lon'], poi['Lat'], poi['Eff1']                
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['SquareTypeCode'].unique()[0] == '5x5':
                    C_h[yi, mi, 0, i-2:i+3, j-2:j+3] += eff*24 / (area * 25)  # If data is
                else:                                # 5x5, distribute effort over 25 1x1 cells
                    C_h[yi, mi, 0, i, j] += eff*24 / area        
                    
            
            for ipoi, poi in sum_k.iterrows():                   # Iterate over dataset
                lo, la, eff = poi['Lon'], poi['Lat'], poi['Eff1']
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['SquareTypeCode'].unique()[0] == '5x5':
                    C_h[yi, mi, 1, i-2:i+3, j-2:j+3] += eff / (area * 25)  # If data is
                else:                                # 5x5, distribute effort over 25 1x1 cells
                    C_h[yi, mi, 1, i, j] += eff / area


C_h[C_h == 0] = np.nan    # Replace all zeros by NaNs, so they stay white in the map

np.savetxt('10mar22_eff.csv', np.ravel(C_h), delimiter=',')
del(C_h)

>>>> 1956 1
>>>> 1957 1
>>>> 1958 1
>>>> 1959 1
>>>> 1960 1
>>>> 1961 1
>>>> 1962 1
>>>> 1963 1
>>>> 1964 1
>>>> 1965 1
>>>> 1966 2
>>>> 1967 4
>>>> 1968 4
>>>> 1969 8
>>>> 1970 8
>>>> 1971 8
>>>> 1972 7
>>>> 1973 12
>>>> 1974 13
>>>> 1975 14
>>>> 1976 17
>>>> 1977 18
>>>> 1978 17
>>>> 1979 20
>>>> 1980 23
>>>> 1981 26
>>>> 1982 27
>>>> 1983 29
>>>> 1984 34
>>>> 1985 30
>>>> 1986 29
>>>> 1987 27
>>>> 1988 23
>>>> 1989 23
>>>> 1990 23
>>>> 1991 24
>>>> 1992 27
>>>> 1993 23
>>>> 1994 29
>>>> 1995 30
>>>> 1996 33
>>>> 1997 30
>>>> 1998 34
>>>> 1999 40
>>>> 2000 34
>>>> 2001 35
>>>> 2002 41
>>>> 2003 37
>>>> 2004 37
>>>> 2005 35
>>>> 2006 37
>>>> 2007 37
>>>> 2008 33
>>>> 2009 37
>>>> 2010 33
>>>> 2011 33
>>>> 2012 32
>>>> 2013 37
>>>> 2014 34
>>>> 2015 32
>>>> 2016 31
>>>> 2017 30
>>>> 2018 29
>>>> 2019 26

### Capture

In [ ]:
Tm = species_list[:10]
Ts = species_list[10:24]
To = species_list[24:31]
Sm = species_list[31:34]
So = species_list[34]

In [ ]:
print(df_s['CatchUnit'].value_counts())
print(df_s['DSetTypeID'].value_counts())

In [ ]:
sank4 = df_s.groupby(['DSetTypeID', 'YearC']).size().reset_index(name='counts')
pd.set_option('display.max_rows', 173)
print(sank4)

In [ ]:
print(n_total, n_selected)
df_kg2 = df_s[df_s['DSetTypeID'].isin(['.w', 'nw'])]
df_kg = df_s[df_s['CatchUnit']=='kg']
del(df_s)
n_kg2 = df_kg2.shape[0]
n_kg = df_kg.shape[0]
del(df_kg2)
print('ratio kg kg2 =', n_kg / n_kg2)
print(n_kg)
print('ratio from total =', n_kg2 / n_total)
print('ratio from selected =', n_kg2 / n_selected)

In [ ]:
sank6 = df_kg2.groupby(['DSetTypeID', 'YearC']).size().reset_index(name='counts')
print(sank6)

In [ ]:
sank5 = df_kg.groupby(['DSetTypeID', 'YearC']).size().reset_index(name='counts')
print(sank5)

In [ ]:
for yi, y in enumerate(year):                  # Treat each year, then each dataset
    df_y = df_kg[df_kg['YearC']==y]
    dsets = df_y['DSetID'].unique()
    print('>>>>', y, len(dsets))
    for di, d in enumerate(dsets):
        df_d = df_y[df_y['DSetID']==d]  # until here, we are selecting a single dataset
        print(di+1, df_d['GearCode'].unique()[0], df_d['SquareTypeCode'].unique()[0], 
              df_d['Eff1Type'].unique()[0], df_d['Eff2Type'].unique()[0])
        #print(df_d.shape)
        for mi, m in enumerate(month):
            df_m = df_d[df_d['TimePeriodID'].isin(m)]   # selecting semester
            sum_Tm = df_m.groupby(['Lon', 'Lat'], as_index=False)[Tm].sum()  # Sum of all Capture in Lat Lon
            sum_Ts = df_m.groupby(['Lon', 'Lat'], as_index=False)[Ts].sum()
            sum_To = df_m.groupby(['Lon', 'Lat'], as_index=False)[To].sum()
            sum_Sm = df_m.groupby(['Lon', 'Lat'], as_index=False)[Sm].sum()
            sum_So = df_m.groupby(['Lon', 'Lat'], as_index=False)[So].sum()
                                          
            for ipoi, poi in sum_Tm.iterrows():                   # Iterate over dataset                
                lo, la, cap = poi['Lon'], poi['Lat'], poi.iloc[2:].sum()
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['GearGrpCode'].unique()[0] == 'LL':
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 1, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 1, i, j] += cap / area
                else:
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 0, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 0, i, j] += cap / area
                        
                        
            for ipoi, poi in sum_Ts.iterrows():                   # Iterate over dataset                
                lo, la, cap = poi['Lon'], poi['Lat'], poi.iloc[2:].sum()
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['GearGrpCode'].unique()[0] == 'LL':
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 3, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 3, i, j] += cap / area
                else:
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 2, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 2, i, j] += cap / area     
                        
                        
            for ipoi, poi in sum_To.iterrows():                   # Iterate over dataset                
                lo, la, cap = poi['Lon'], poi['Lat'], poi.iloc[2:].sum()
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['GearGrpCode'].unique()[0] == 'LL':
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 5, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 5, i, j] += cap / area
                else:
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 4, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 4, i, j] += cap / area           
                        
                        
            for ipoi, poi in sum_Sm.iterrows():                   # Iterate over dataset                
                lo, la, cap = poi['Lon'], poi['Lat'], poi.iloc[2:].sum()
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['GearGrpCode'].unique()[0] == 'LL':
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 7, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 7, i, j] += cap / area
                else:
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 6, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 6, i, j] += cap / area        
                        
                        
            for ipoi, poi in sum_So.iterrows():                   # Iterate over dataset                
                lo, la, cap = poi['Lon'], poi['Lat'], poi.iloc[2:].sum()
                i, j = np.where(Lon==lo+.5)[0][0], np.where(Lat==la+.5)[0][0]
                area = 111.195 * 111.195 * np.cos(la*np.pi/180)
                
                if df_m['GearGrpCode'].unique()[0] == 'LL':
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 9, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 9, i, j] += cap / area
                else:
                    if df_m['SquareTypeCode'].unique()[0] == '5x5':
                        C_c[yi, mi, 8, i-2:i+3, j-2:j+3] += cap / (area * 25)  # If data is
                    else:                                # 5x5, distribute effort over 25 1x1 cells
                        C_c[yi, mi, 8, i, j] += cap / area
                        
del(df_kg)    
C_c[C_c == 0] = np.nan

np.savetxt('10mar22_cap.csv', np.ravel(C_c), delimiter=',')
del(C_c)